
<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Listing Withdrawl</h3>
</div>
<div class="panel-body">
 <table class=" table table-hover table-bordered ">
  <thead>
    <tr>
      <th>Ammount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr>
        
        <td><%= withdrawal.ammount %></td>
        <td><%= withdrawal.date.strftime(" %m/%d/%Y") %></td>
        <td><%= link_to 'Show', withdrawal, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_withdrawal_path(withdrawal), class: "btn btn-warning" %></td>
       <td><%= link_to 'Destroy', withdrawal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="panel-footer">
<%= link_to 'New Withdrawal', new_withdrawal_path , class: "btn btn-primary" %>
</div>
</div>
</div>
</div>